!!!
%html
  %head
    %title Mrlowes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"

    = csrf_meta_tags

  %body
    = yield

    = javascript_include_tag "application"
